.wrapper {
  width: 60%;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  background-color: #f5f5f5;
  font-family: 'Source Sans Pro', sans-serif;
}

ul {
  width: 70%;
  margin-left: 85px;
  list-style: inside;
  list-style-type: none;
}

li {
  text-align: left;
  transition: background-color 0.5s;
  padding: 10px;
}

li:hover {
  background-color: #d3d3d3;
}

svg {
  margin-top: 5px;
  float: right;
}

input {
  margin: 10px;
  padding: 5px;
}
